<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Todo list Application">
    <meta name="keywords" content="Todo, Todolist"> 
    <meta name="author" content="Melisa G.">
    <meta http-equiv="refresh" content="30">
    <title>
        {% block sitetitle %}Todo List Application{% endblock %} 
    </title>
</head>

<body>
    <header id="header">
    <h1><a href="{% url 'overview' %}" id="link_overview">TODO</h1>

        <nav>
            <ul>
                <li>
                    <a href ="{% url 'logout' %}" id="link_logout">logout</a>
                    {% block header %} {% endblock %}
                </li>
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

</body>

</html>