{% extends "base.html" %}
{% block sitetitle %} edit an entry {% endblock %}

{% block header %}
        <li>
            <a href="{% url 'overview'%}" id="link_overview">overview</a>
        </li> 
{% endblock %}

{% block content %}

<section>

{% if entry.id %}
<nav>
<ul>
    <li>    
        <a href="{% url 'delete' entry.id %}" id="link_delete">delete</a><br>
    </li>
</ul>
</nav>

<form action = "{% url 'edit' entry.id %}" method = "post">
{% else %}
<form action = "{% url 'add' %}" method ="post">
{% endif %}
<table>
{% for field in form %}
    <tr>
        <td>
            {{ field.label_tag }}
        </td>
        <td>
            {{ field }}
        </td>
        <td>
            {{ field.errors }}
        </td>
    </tr>
{% endfor %}
</table>

{% csrf_token %}

{% if entry.id %}
    <input type = "submit" value = "Klick me!!!" id="submit_edit"/>
{% else %}
    <input type = "submit" value = "Add !" id="submit_add"/>
{% endif %}
</form>
<nav>
<ul>
    <li>
        <a href="{% url 'overview'%}" id="link_overview">cancel</a>
    </li>
</ul>
</nav>
</section>

{% endblock %}