<!DOCTYPE html>
<html>
<head lang = "en">
<meta charset="UTF-8">
<title></title>
</head>
<body>
<h1>add</h1>
<form action = "{% url 'add' %}" method ="post">
	{{form}}
    {% csrf_token %}
	<input type = "submit" value = "klick me"/>
</form>
</body>
</html>