{% extends "base.html" %}
{% block sitetitle %} Overview {% endblock %}

{% block header %}
    <li>
        <a href="{% url 'add' %}" id="link_add">add</a>
    </li>
    
{% endblock %}

{% block content %}

<section>

<h2>Open</h2>
<ul>

{% for e in open_entries %}
    {% if e.done = False %}
    <article>
        <h3>{{e.title}}</h3>
            <p class="subtitle">
                <time>{{ e.due_date|date:"d.m.Y"}}
                    {% if e.due_time != None %}
                        {{e.due_time|date:"c"}}
                    {% else %}
                        anytime
                    {% endif %}
                </time>
            </p>

            {% if e.description != None %}
                <p class="description">
                    {{ e.description }}
                </p>    
            {% endif %}
        <nav>
            <li>
                <a href="{% url 'edit' e.id %}" id="link_edit">edit</a>
            </li>
            
            <li>
                <a href="{% url 'switch' e.id %}" id="link_switch">switch</a>
            </li>
        </nav>    
    </article>
    {% endif %}
{% endfor %}

</ul>

</section>

<section>

<h2>Completed</h2>
<ul>
    {% for e in open_entries %}
        {% if e.done = True %}
            <article>
                <h3>{{e.title}}</h3>

                <p class="subtitle">
                <time>{{ e.due_date|date:"d.m.Y"}}
                    {% if e.due_time != None %}
                        {{e.due_time|date:"c"}}
                    {% else %}
                        anytime
                    {% endif %}
                </time>
                </p>

                {% if e.description != None %}
                    <p class="description">
                        {{ e.description }}
                    </p>    
                {% endif %}
                <nav>
                    <li>
                        <a href="{% url 'edit' e.id %}" id="link_edit">edit</a>
                    </li>
                    
                    <li>        
                        <a href="{% url 'switch' e.id %}" id="link_switch">switch</a>
                    </li>
                </nav>    
            </article>

        {% endif %}
    {% endfor %}
</ul>
</section>
{% endblock %}
    